<div data-role="page" data-theme="b" class="page-about">
	<div data-role="header"><h1>Over Wipkipvinder</h1></div>
	<div data-role="content"> 
		<p>De wipkipvinder is gebouwd door Tijs Teulings van <a href="http://automatique.nl">Automatique</a> in het kader van <a href="http://weblogs.vpro.nl/nederlandvanboven/appinaday/">#appinaday</a>, een project van de Vpro i.s.m. Ambtenaar 2.0, Geonovum &amp; Hackdeoverheid.<p>
		<p>De data is afkomstig van de gemeente Rotterdam en word normaal gebruikt voor het onderhoud van de speeltoestellen. De komende tijd hoop ik deze app wat verder te kunnen uitbouwen, als het even kan met hulp van anderen.</p>
		<p><strong>Mist jouw gemeente nog in de wipkipvinder?</strong> Breng me in <a href="mailto:tijs@automatique.nl">contact</a> met de verantwoordelijke ambtenaar gemeentelijke werken (of iets in die richting) en dan ga ik wel kijken of we iets los kunnen peuteren.</p>
		<h3>Todo lijstje</h3>
		<ul>
		    <li>Een logo</li>
		    <li>Iconen voor de speeltoestellen</li>
		    <li>Meer info op de kaart</li>
		    <li>Kunnen klikken op toestel in lijst voor meer info</li>
		    <li>...</li>
		</ul>
	</div>
</div>