{% extends "base.html" %}
{% block title %}Wipkipvinder{% endblock %}

{% block content %}
    <div id="main">
        <img src="{{ STATIC_URL }}img/android-phone.png" id="android" alt="wipkipvinder running on android" />
        <h1>Wipkipvinder</h1>
        <p>De <em>wipkipvinder</em> is een mobiele web app om de dichtsbijzijnde wipkip, schommel of glijbaan te vinden.
            Op dit moment alleen nog in in Den Haag en Rotterdam maar hopelijk binnenkort ook elders.</p>
        <p><strong>Als je deze pagina ziet bezoek je de site waarschijnlijk niet op een mobiele telefoon.
            <a href="/play">Klik hier om de mobiele site alsnog te bekijken</a>.</strong></p>

        <p><small>Dit is een uit de hand gelopen project van Tijs Teulings (van
        <a href="http://automatique.nl">Automatique</a>) en is begonnen als voorbeeld app van wat je met
        <a href="https://twitter.com/#!/search/%23opendata">#opendata</a> kunt doen. Alle broncode voor dit project is
        open-source: <a href="http://github.com/tijs/Wipkipvinder">github.com/tijs/Wipkipvinder</a></small></p>
        <br style="clear: both">
    </div>
{% endblock %}